@import url('https://rsms.me/inter/inter.css');

body {
 overflow: hidden;
 display: none;
 font-family: 'Inter', sans-serif;
 background-color: transparent !important;
}

#timedisplay {
 position: relative;

 top: 0%;
 left: 0%;

 width: 100%;
 height: 3.5%;
 color: rgba(255, 255, 255, 0.8);
}

#signUp {
 position: relative;
 
 width: 90%;
 height: 10%;

 left: 5%;
 bottom: 10%;
}

#signUp input {
 padding: 3%;

 width: 100%;
 border-radius: 4px;

 margin-bottom: 2%;

 font-size: 22px;
 background-color: rgba(255, 255, 255, 0.8);
}

#signUp input:focus {
 outline: none;
}

#signUp button {
 padding: 3%;

 width: 100%;
 border-radius: 4px;

 margin-top: 2%;

 font-size: 20px;
 
 background-color: rgba(57, 121, 204, 0.9);
 color: whitesmoke;

 border: none;
}

#feed { 
 position: absolute;

 height: 96%;
 width: 98%;

 left: 1%;
 bottom: 0%;

 display: none;
}

#feedList { 
 position: relative;

 width: 100%;
 height: 92%;

 overflow-y: scroll;
}

#feedList::-webkit-scrollbar {
 display: none;
}

#message {
 position: absolute;

 bottom: 0%;
 left: -1%;

 width: 102%;
 height: 8%;

 background-color: rgba(22, 22, 22, 0.2);
 z-index: inherit;
}


#imagePromt {
 display: none;
 position: absolute;

 width: 100%;
 height: 7%;

 bottom: 7%;

 background-color: rgba(22, 22, 22, 0.2);
 z-index: inherit;
}

.feed {
 position: relative;
 padding: 5%;
 background-color: rgb(50, 50, 50, 0.6);
 width: 100%;
 border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.feed .feed-head {
 display: flex;
 line-height: 1.2;
}

.feed .feed-head .feed-image {
 display: flex;
 align-items: center;
 margin-right: 9px;
}

.feed .feed-head .feed-image img {
 border-radius: 999px;
 height: 38px;
 width: 38px;
}

.feed .feed-head .feed-author {
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.feed .feed-head .feed-author .name {
 font-weight: 500;
 transition: color 0.1s;
}

.feed .feed-head .feed-author .time {
 color: #c3c3c3;
 font-size: 0.875rem;
}

#settingsCog {
 position: absolute;
 right: 2%;
 top: 1%;
 z-index: 10;

 background-color: rgb(34, 34, 34);
 padding: 2.5%;
 border-radius: 50%;
 font-size: 22px;
}

#settingsCog:hover {
 color: rgba(51, 145, 253, 0.774);
 cursor: pointer;
}

#settings { 
 position: absolute;

 height: 96%;
 width: 98%;

 left: 1%;
 bottom: 0%;

 display: none;
}